version: '3.7'

networks:
  app-network:
    driver: bridge

services:
  app_proxy:
    depends_on:
      - app
    environment:
      APP_HOST: denny-pastefy_app_1
      APP_PORT: 80
    networks:
      - app-network

  app:
    image: interaapps/pastefy:6.7.3@sha256:a711eebb7bab0df9e941b941f9e0684c18c098d1f5e3e7f420dd094124ac57ec
    environment:
      HTTP_SERVER_PORT: 80
      DATABASE_DRIVER: mysql
      DATABASE_NAME: pastefy
      DATABASE_USER: pastefy
      DATABASE_PASSWORD: tyooe
      DATABASE_HOST: db
      DATABASE_PORT: 3306
      SERVER_NAME: http://umbrel-2.local:9999
    networks:
      - app-network
    ports:
      - 9999:80
    volumes:
      - pastefy-data:/var/lib/mysql

  db:
    image: mariadb:11.6.2@sha256:a9547599cd87d7242435aea6fda22a9d83e2c06d16c658ef70d2868b3d3f6a80
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: tyooe
      MYSQL_DATABASE: pastefy
      MYSQL_USER: pastefy
      MYSQL_PASSWORD: tyooe
    networks:
      - app-network

volumes:
  pastefy-data:

networks:
  app-network:
    driver: bridge
