version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-pastefy_app_1
      APP_PORT: 80

  app: 
    image: interaapps/pastefy:6.7.3@sha256:a711eebb7bab0df9e941b941f9e0684c18c098d1f5e3e7f420dd094124ac57ec
    environment:
      - HTTP_SERVER_PORT=80
      - HTTP_SERVER_CORS="*"
      - DATABASE_DRIVER=mysql
      - DATABASE_NAME=pastefy
      - DATABASE_USER=pastefy
      - DATABASE_PASSWORD=pastefy
      - DATABASE_HOST=db
      - DATABASE_PORT=3306
      - SERVER_NAME=http://umbrel-2.local:9999
