version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-pastefy_app_1
      APP_PORT: 80

  app:
    image: interaapps/pastefy:6.7.5@sha256:cfa582e598cf00034de9431ce80cba75595d5a7016973e49f8108a90fe8bee76
    environment:
      HTTP_SERVER_PORT: 80
      HTTP_SERVER_CORS: "*"
      DATABASE_DRIVER: mysql
      DATABASE_NAME: pastefy
      DATABASE_USER: pastefy
      DATABASE_PASSWORD: pastefy
      DATABASE_HOST: db
      DATABASE_PORT: 3306
      SERVER_NAME: "http://umbrel-local:9999"
      OAUTH2_PROVIDER_CLIENT_ID: 
      OAUTH2_PROVIDER_CLIENT_SECRET: 
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mariadb:11.4-noble@sha256:a3c3ecdba222d33017b1128ae2a5930a3d6b8b21cd6d5e534886e75a523612ee
    environment:
      MYSQL_ROOT_PASSWORD: pastefy
      MYSQL_DATABASE: pastefy
      MYSQL_USER: pastefy
      MYSQL_PASSWORD: pastefy
    ports:
      - 3336:3306
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/mysql
    restart: on-failure
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5
      timeout: 5s

volumes:
  dbvol:
