version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-pastefy_app_1
      APP_PORT: 80

  db:
    image: mariadb:11.4-noble
    security_opt:
      - no-new-privileges:false
    environment:
      MYSQL_DATABASE: pastefy_db
      MYSQL_USER: pastefyuser
      MYSQL_PASSWORD: pastefypass
      MYSQL_ROOT_PASSWORD: pastefy
      TZ: Europe/Berlin
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/mysql:rw
    restart: on-failure:5

  pastefy:
    image: interaapps/pastefy:latest
    restart: on-failure:5
    healthcheck:
      test: timeout 10s bash -c ':> /dev/tcp/127.0.0.1/80' || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    depends_on:
      - db
    environment:
      HTTP_SERVER_PORT: 80
      HTTP_SERVER_CORS: "*"
      DATABASE_DRIVER: mysql
      DATABASE_NAME: pastefy_db
      DATABASE_USER: pastefyuser
      DATABASE_PASSWORD: pastefypass
      DATABASE_HOST: db
      DATABASE_PORT: 3306
      SERVER_NAME: http://umbrel-2.local:9999
