version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-pastefy_app_1
      APP_PORT: 80

  db:
    image: mariadb:11.6.2@sha256:a9547599cd87d7242435aea6fda22a9d83e2c06d16c658ef70d2868b3d3f6a80
    user: "1000:1000"
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/mysql:rw
    environment:
      - MYSQL_ROOT_PASSWORD=pastefy
      - MYSQL_DATABASE=pastefy
      - MYSQL_USER=pastefy
      - MYSQL_PASSWORD=pastefy

  app: 
    image: interaapps/pastefy:6.7.3@sha256:a711eebb7bab0df9e941b941f9e0684c18c098d1f5e3e7f420dd094124ac57ec
    user: "1000:1000"
    environment:
      - HTTP_SERVER_PORT=80
      - HTTP_SERVER_CORS="*"
      - DATABASE_DRIVER=mysql
      - DATABASE_NAME=pastefy
      - DATABASE_USER=pastefy
      - DATABASE_PASSWORD=pastefy
      - DATABASE_HOST=db
      - DATABASE_PORT=3306
      - SERVER_NAME=http://umbrel-2.local:9999
    depends_on:
      - db
