---
version: "3.8"
services:
  app_proxy:
    environment:
      APP_HOST: umbrel.local
      APP_PORT: 4100

  server:
    image: ghcr.io/heyputer/puter:2.4.2@sha256:63d33132b48687a767f68568b6912c9cb982984f70af163f7efded2c0c53df57
    restart: on-failure
    environment:
      PUID: 1000
      PGID: 1000
    volumes:
      - ${APP_DATA_DIR}/data:/home/puter/.puter
      - ${APP_DATA_DIR}/config:/volatile/config
