version: '3.9'
services:
  app_proxy:
    environment:
      APP_HOST: denny-gladys_server_1
      APP_PORT: 9212
      PROXY_AUTH_ADD: "false"

  server:
    image: gladysassistant/gladys:v4
    mem_limit: 4g
    cpu_shares: 768
    security_opt:
      - no-new-privileges:true
    restart: on-failure
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"  # Behalte bis zu 3 Logdateien
    environment:
      NODE_ENV: production
      SQLITE_FILE_PATH: /var/lib/gladysassistant/gladys-production.db
      SERVER_PORT: 9212
      TZ: Europe/Berlin
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /volume1/docker/gladys:/var/lib/gladysassistant:rw
      - /etc/TZ:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /dev:/dev
