version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-torbrowser_web_1
      APP_PORT: 6901 #5800
      PROXY_AUTH_ADD: "false"
  web:
    image: kasmweb/tor-browser:1.16.1 #ghcr.io/domistyle/docker-tor-browser:12.0.4@sha256:3bd6f9df5086b7c7efa60e9575ab430d3aa8937192262552a15cf036eab78f10
    restart: always
    environment:
      - TZ=Europe/Berlin
      - DARK_MODE=1
      - WEB_AUDIO=1
    volumes:
      - ${APP_DATA_DIR}/config:/config
