services:
  web:
    image: wger/server:latest
    env_file:
      - ${APP_DATA_DIR}/config/prod.env
    volumes:
      - static:/home/wger/static
      - media:/home/wger/media
    ports:
      - "8811:8000"
    restart: unless-stopped

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=wger
      - POSTGRES_PASSWORD=wger
      - POSTGRES_DB=wger
      - TZ=Europe/Berlin
    volumes:
      - postgres-data:/var/lib/postgresql/data/
    expose:
      - 5432
    restart: unless-stopped

volumes:
  postgres-data:
  media:
  static:
