services:
  app:
    image: wger/server:latest
    volumes:
      - ${APP_DATA_DIR}/static:/home/wger/static
      - ${APP_DATA_DIR}/media:/home/wger/media
    env_file:
      - ${APP_DATA_DIR}/config/prod.env
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy
    expose:
      - 8000
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:8000
      interval: 10s
      timeout: 5s
      start_period: 300s
      retries: 5
    restart: unless-stopped

  nginx:
    image: nginx:stable
    volumes:
      - ${APP_DATA_DIR}/config/nginx.conf:/etc/nginx/conf.d/default.conf
      - ${APP_DATA_DIR}/static:/wger/static:ro
      - ${APP_DATA_DIR}/media:/wger/media:ro
    expose:
      - 80
    healthcheck:
      test: service nginx status
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: wger
      POSTGRES_PASSWORD: wger
      POSTGRES_DB: wger
      TZ: Europe/Berlin
    volumes:
      - ${APP_DATA_DIR}/postgres-data:/var/lib/postgresql/data/
    expose:
      - 5432
    healthcheck:
      test: pg_isready -U wger
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

  cache:
    image: redis
    volumes:
      - ${APP_DATA_DIR}/redis-data:/data
    expose:
      - 6379
    healthcheck:
      test: redis-cli ping
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

  celery_worker:
    image: wger/server:latest
    command: /start-worker
    volumes:
      - ${APP_DATA_DIR}/media:/home/wger/media
    env_file:
      - ${APP_DATA_DIR}/config/prod.env
    depends_on:
      app:
        condition: service_healthy
    healthcheck:
      test: celery -A wger inspect ping
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

  celery_beat:
    image: wger/server:latest
    command: /start-beat
    volumes:
      - ${APP_DATA_DIR}/celery-beat:/home/wger/beat/
    env_file:
      - ${APP_DATA_DIR}/config/prod.env
    depends_on:
      celery_worker:
        condition: service_healthy
    restart: unless-stopped

volumes:
  postgres-data:
  celery-beat:
  redis-data:
  media:
  static:

networks:
  default:
    name: wger_network
