version: '3.7'

services:
  bisq:
    image: fflo/bisq-on-docker:1.3.7
    container_name: bisq
    ports:
      - "3389:3389"  # RDP-Zugang
    volumes:
      - bisq_data:/root/.local/share/Bisq
    environment:
      - TZ=Europe/Berlin
    restart: unless-stopped

  guacd:
    image: guacamole/guacd
    container_name: guacd
    restart: unless-stopped
    ports:
      - "4822:4822"  # Guacd-Port

  guacamole:
    image: guacamole/guacamole
    container_name: guacamole
    depends_on:
      - guacd
    restart: unless-stopped
    environment:
      - GUACD_HOSTNAME=guacd
      - MYSQL_HOSTNAME=mysql
      - MYSQL_DATABASE=guacamole_db
      - MYSQL_USER=guacamole_user
      - MYSQL_PASSWORD=guacamole_pass
    ports:
      - "8080:8080"  # Webinterface-Zugang

  mysql:
    image: mysql:5.7
    container_name: guac_db
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=rootpass
      - MYSQL_DATABASE=guacamole_db
      - MYSQL_USER=guacamole_user
      - MYSQL_PASSWORD=guacamole_pass
    volumes:
      - guac_db:/var/lib/mysql

volumes:
  bisq_data:
  guac_db:
