services:
  cryptpad:
    image: "cryptpad/cryptpad:version-2024.9.0"
    hostname: cryptpad

    environment:
      - CPAD_MAIN_DOMAIN=http://umbrel.local
      # CPAD_SANDBOX_DOMAIN=https://your-sandbox-domain.com
      - CPAD_CONF=/cryptpad/config/config.js
      - CPAD_INSTALL_ONLYOFFICE=yes

    volumes:
      - ${APP_DATA_DIR}/data/blob:/cryptpad/blob
      - ${APP_DATA_DIR}/data/block:/cryptpad/block
      - ${APP_DATA_DIR}/customize:/cryptpad/customize
      - ${APP_DATA_DIR}/data/data:/cryptpad/data
      - ${APP_DATA_DIR}/data/files:/cryptpad/datastore
      - ${APP_DATA_DIR}/onlyoffice-dist:/cryptpad/www/common/onlyoffice/dist
      - ${APP_DATA_DIR}/onlyoffice-conf:/cryptpad/onlyoffice-conf

    ports:
      - "4030:3000"
      - "4033:3003"

    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000

    command: >
      bash -c "chown -R www-data:www-data /cryptpad/onlyoffice-conf &&
               chmod -R 777 /cryptpad/onlyoffice-conf &&
               node server.js"

