version: '3.1'

services:

  ghost:
    image: ghost:5-alpine
    restart: always
    ports:
      - 2368:2368
    environment:
      database__client: mysql
      database__connection__host: db
      database__connection__user: ghost
      database__connection__password: moneyprintergobrrr
      database__connection__database: ghost
      url: http://umbrel.local:2368
    volumes:
      - ${APP_DATA_DIR}/ghost:/var/lib/ghost/content

  db:
    image: mariadb:10.9.4@sha256:f5146e2e0999a6afcf2a9134bb415ad068bf80ec29704f374f6f7dabb145738d
    user: "1000:1000"
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/data/mysql:/var/lib/mysql
    environment:
      MYSQL_DATABASE: "ghost"
      MYSQL_USER: "ghost"
      MYSQL_PASSWORD: "moneyprintergobrrr"
      MYSQL_ROOT_PASSWORD: "YES"

volumes:
  ghost:
  db:
