version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-ghost_web_1
      APP_PORT: 2368

  db:
    image: mysql:8.0
    restart: on-failure
    user: "1000:1000"
    environment:
      MYSQL_ROOT_PASSWORD: umbrel
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/mysql:rw

  web:
    image: ghost:5.109.2@sha256:e5e82c72bce6865988c9c4178e36d354a8a4e413c889b05382a52227722920e3
    restart: on-failure
    user: "1000:1000"
    volumes:
      - ${APP_DATA_DIR}/data/content:/var/lib/ghost/content:rw
    environment:
      database__client: mysql
      database__connection__host: db
      database__connection__user: root
      database__connection__password: umbrel
      database__connection__database: ghost
      url: http://umbrel-2.local
    depends_on:
      - db
