version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-threema_web_1
      APP_PORT: 80

  web:
    image: dennysubke/threema-web:v2.6.2@sha256:f0554fe46788e5ffff6e951409e52db67fe36f2971acc59ea698e9108c2a71bf
    restart: on-failure


