version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-threema_web_1
      APP_PORT: 80

  web:
    image: dennysubke/threema-web:v2.6.1@sha256:30ee09dd78a5233920ab8e8983d6aab01cc1109c0a9d0112cbbf9689273f64a9
    user: "1000:1000"
    restart: on-failure
