version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-discourse_web_1
      APP_PORT: 3000

  postgresql:
    image: bitnami/postgresql:16
    user: root
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "bitnami_discourse", "-U", "bn_discourse"]
      timeout: 45s
      interval: 10s
      retries: 10
    volumes:
      - ${APP_DATA_DIR}/db:/bitnami/postgresql:rw
    environment:
      POSTGRESQL_DATABASE: bitnami_discourse
      POSTGRESQL_USERNAME: bn_discourse
      POSTGRESQL_PASSWORD: bitnami123
    restart: on-failure

  redis:
    image: redis
    command: redis-server --requirepass redispass
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "redispass", "ping"]
    volumes:
      - ${APP_DATA_DIR}/redis:/data:rw
    environment:
      TZ: Europe/Berlin
    restart: on-failure

  web:
    image: bitnami/discourse:3.3.3
    restart: unless-stopped
    healthcheck:
      test: timeout 10s bash -c ':> /dev/tcp/127.0.0.1/3000' || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    depends_on:
      - postgresql
      - redis
    environment:
      - DISCOURSE_USERNAME=marius
      - DISCOURSE_PASSWORD=mariushosting
      - DISCOURSE_EMAIL=yourown@email
      - DISCOURSE_ENV=production
      - DISCOURSE_ENABLE_HTTPS=no
      - DISCOURSE_DATABASE_HOST=postgresql
      - DISCOURSE_DATABASE_PORT_NUMBER=5432
      - DISCOURSE_DATABASE_USER=bn_discourse
      - DISCOURSE_DATABASE_NAME=bitnami_discourse
      - DISCOURSE_DATABASE_PASSWORD=bitnami123
      - DISCOURSE_REDIS_HOST=redis
      - DISCOURSE_REDIS_PORT_NUMBER=6379
      - DISCOURSE_REDIS_PASSWORD=redispass
      - DISCOURSE_HOST=umbrel-2.local:3490
      - DISCOURSE_DEVELOPER_EMAILS=yourown@email
      - DISCOURSE_SMTP_HOST=smtp.gmail.com
      - DISCOURSE_SMTP_AUTH=login
      - DISCOURSE_SMTP_PORT_NUMBER=587
      - DISCOURSE_SMTP_USER=Your-own-gmail-address
      - DISCOURSE_SMTP_PASSWORD=Your-own-app-password
      - DISCOURSE_SMTP_PROTOCOL=tls
    volumes:
      - ${APP_DATA_DIR}/data:/bitnami/discourse:rw

  sidekiq:
    image: bitnami/discourse:3.3.3
    depends_on:
      - web
    volumes:
      - ${APP_DATA_DIR}/sidekiq:/bitnami/discourse:rw
    command: /opt/bitnami/scripts/discourse-sidekiq/run.sh
    environment:
      - DISCOURSE_HOST=umbrel-2.local:3490
      - DISCOURSE_ENABLE_HTTPS=no
      - DISCOURSE_ENV=production
      - DISCOURSE_DATABASE_HOST=postgresql
      - DISCOURSE_DATABASE_PORT_NUMBER=5432
      - DISCOURSE_DATABASE_USER=bn_discourse
      - DISCOURSE_DATABASE_NAME=bitnami_discourse
      - DISCOURSE_DATABASE_PASSWORD=bitnami123
      - DISCOURSE_REDIS_HOST=redis
      - DISCOURSE_REDIS_PORT_NUMBER=6379
      - DISCOURSE_REDIS_PASSWORD=redispass
      - DISCOURSE_DEVELOPER_EMAILS=yourown@email
      - DISCOURSE_SMTP_HOST=smtp.gmail.com
      - DISCOURSE_SMTP_AUTH=login
      - DISCOURSE_SMTP_PORT_NUMBER=587
      - DISCOURSE_SMTP_USER=Your-own-gmail-address
      - DISCOURSE_SMTP_PASSWORD=Your-own-app-password
      - DISCOURSE_SMTP_PROTOCOL=tls
