version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-hedgedoc_web_1
      APP_PORT: 3000

  db:
    image: mariadb:11.4-noble
    restart: on-failure
    environment:
      - MYSQL_ROOT_PASSWORD=umbrel
      - MYSQL_DATABASE=hedgedoc
      - MYSQL_USER=hedgedocuser
      - MYSQL_PASSWORD=hedgedocpass
    ports:
      - 3976:3306
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/mysql:rw

  web:
    image: linuxserver/hedgedoc:1.10.1@sha256:16d21ebfd4b7867cb0e712027c31df6316cc276ae3b11afb538f494e1487e082
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
    environment:
      - TZ=Europe/Berlin
      - NODE_ENV=production
      - PUID=1000
      - PGID=1000
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=hedgedocuser
      - DB_PASS=hedgedocpass
      - DB_NAME=hedgedoc
      - CMD_DOMAIN=umbrel-2.local:3456
      - CMD_URL_ADDPORT=true
      - CMD_PROTOCOL_USESSL=false
      - CMD_PORT=3000
      - CMD_ALLOW_ORIGIN=["localhost"]
    depends_on:
      - db
