version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-hedgedoc_web_1
      APP_PORT: 3000

  web:
    image: linuxserver/hedgedoc:1.10.1@sha256:16d21ebfd4b7867cb0e712027c31df6316cc276ae3b11afb538f494e1487e082
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/data/config:/config:rw
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3000 || exit 1
    environment:
      - TZ=Europe/Berlin
      - NODE_ENV=production
      - PUID=1000
      - PGID=1000
      - CMD_DOMAIN=umbrel-2.local:3456
      - CMD_URL_ADDPORT=false
      - CMD_PROTOCOL_USESSL=false
      - CMD_PORT=3000
      - CMD_ALLOW_ORIGIN=['localhost']
      - CMD_SESSION_SECRET=uQK8isBS24wvfaATVj2FBA==
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=admin
      - DB_PASS=umbrel
      - DB_NAME=umbrel_hedgedoc
    depends_on:
      db:
        condition: service_healthy
    command: >
      /bin/sh -c "
        until wget --spider http://db:5432; do
          echo 'Waiting for PostgreSQL...';
          sleep 2;
        done;
        node ./bin/www
      "

  db:
    image: postgres:13.20
    environment:
      - TZ=Europe/Berlin
      - POSTGRES_PASSWORD=rootpass
      - POSTGRES_DB=umbrel_hedgedoc
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=umbrel
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/postgresql/data:rw
    restart: on-failure
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "admin"]
      interval: 5s
      retries: 5
