version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-hedgedoc_web_1
      APP_PORT: 3000

  web:
    image: linuxserver/hedgedoc:1.10.1@sha256:16d21ebfd4b7867cb0e712027c31df6316cc276ae3b11afb538f494e1487e082
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/data/config:/config:rw
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3000 || exit 1
    environment:
      - TZ=Europe/Berlin
      - NODE_ENV=production
      - PUID=1000
      - PGID=1000
      - CMD_DOMAIN=umbrel-2.local:3456
      - CMD_URL_ADDPORT=false
      - CMD_PROTOCOL_USESSL=false
      - CMD_PORT=3000
      - CMD_ALLOW_ORIGIN=['localhost']
      - CMD_SESSION_SECRET=uQK8isBS24wvfaATVj2FBA==
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=admin
      - DB_PASS=umbrel
      - DB_NAME=umbrel_hedgedoc
      - CMD_DB_URL=mysql://admin:umbrel@db:3306/umbrel_hedgedoc
    depends_on:
      db:
        condition: service_started

  db:
    image: mariadb:11.4-noble@sha256:5dfb3093333fa0ea53194ddef0a2bfa21d3b1e1353bd228b22610cd6fc0c04da
    environment:
      - TZ=Europe/Berlin
      - MYSQL_ROOT_PASSWORD=rootpass
      - MYSQL_DATABASE=umbrel_hedgedoc
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=umbrel
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/mysql:rw
    restart: on-failure
