version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-hedgedoc_web_1
      APP_PORT: 3000

  web:
    image: quay.io/hedgedoc/hedgedoc:1.10.2@sha256:248d964e9a3c32ebf531847063112c51324474e7cb2393bbf615d82341b64e69
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/data/uploads:/hedgedoc/public/uploads
    healthcheck:
      test:  test: wget --no-verbose --tries=1 --spider http://localhost:3000 || exit 1
    environment:
      - TZ=Europe/Berlin
      - NODE_ENV=production
      - PUID=1000
      - PGID=1000
      - CMD_DOMAIN=umbrel-2.local:3456
      - CMD_URL_ADDPORT=false
      - CMD_PROTOCOL_USESSL=false
      - CMD_PORT=3000
      - CMD_ALLOW_ORIGIN=['localhost']
      - CMD_SESSION_SECRET=uQK8isBS24wvfaATVj2FBA==
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=admin
      - DB_PASS=umbrel
      - DB_NAME=umbrel_hedgedoc
      - CMD_DB_URL=mysql://admin:umbrel@db:3306/umbrel_hedgedoc
    depends_on:
      db:
        condition: service_started

  db:
    image: mariadb:11.8-noble-rc@sha256:ce3ce0a61f9cec258cc95f3dcebd0eaebe012712aa3d546f374159dfc799bbc8
    environment:
      - TZ=Europe/Berlin
      - MYSQL_ROOT_PASSWORD=rootpass
      - MYSQL_DATABASE=umbrel_hedgedoc
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=umbrel
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/mysql:rw
    restart: on-failure
