version: '3.9'

services:
  simplex:
    image: simplexchat/smp-server:latest
    container_name: simplex_server
    ports:
      - "5223:5223"
      - "443:443"
    environment:
      - ADDR=http://umbrel-2.local
    volumes:
      - $HOME/simplex/smp/config:/etc/opt/simplex:z
      - $HOME/simplex/smp/logs:/var/opt/simplex:z
    restart: unless-stopped
